.aboutFutureVisionSection{
    padding-top:120px;
}
.titleWrap{
    display:flex;
    flex-direction:column;
    gap:30px;
    align-items:center;
}
.AboutFutureVisionTitle{
    max-width:728px;
    width:100%;
}
.visionAnimationWrap{
    position:relative;
    height:1200px;
}
.animationSubimg{
    width:100%;
    height:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}
.animationSubimg:nth-child(1){
    max-width: 400px;
    height: 250px;
}
.animationSubimg:nth-child(2){
    max-width: 320px;
    height: 200px;
}
.animationSubimg:nth-child(3){
    max-width: 300px;
    height: 200px;
}
.animationSubimg:nth-child(4){
    max-width: 330px;
    height: 220px;
}
.animationSubimg:nth-child(5){
    max-width: 320px;
    height: 200px;
}
.animationSubimg:nth-child(6){
    max-width: 300px;
    height: 200px;
}
.animationSubimg:nth-child(7){
    max-width: 750px;
    height: 400px;    
    object-fit:cover;
    z-index:1;
}
.animationTextWrap{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    z-index:2;

}
.animationTextWrap p{
    font-size: 192px;
    font-style: normal;
    font-weight: 700;
    line-height: 107%; 
    color:var(--color-3);
}

.desc,.subDesc{
    width: 100%;
    text-align: center;
}
.subDesc{
    max-width: 924px;
    margin-top: 25px !important;
}
.desc{
    max-width: 657px;
}
.animationTextWrapMob{
    display: none;
}
@media(max-width:1199px){
    .animationTextWrap p{
        font-size: 112px;
    }
}
@media(max-width: 991px){
    .aboutFutureVisionSection{
        padding-top: 60px;
    }
    .animationTextWrap p{
        font-size: 80px;
    }
    .visionAnimationWrap{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        height: auto !important;
        padding: 60px 0 20px;
    }

    .visionAnimationWrap img:nth-child(3),
    .visionAnimationWrap img:nth-child(6),
    .visionAnimationWrap img:nth-child(7) {
        grid-column: 1 / span 2;
    }
   
    .animationTextWrap{
        display: none;
    }
    .animationTextWrapMob{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 60px;
    }
    .animationTextWrapMob h3{
        font-size: 48px;
        font-weight: 700;
    }
    .animationSubimg{
        max-width: 100% !important;
        height: 100% !important;
        position: static;
        transform: unset;
    }
}
