.leadersPrincipleSection{
    padding-top: 70px;
    position:relative;
}
.leadersPrinciplebgVideo{
    position:absolute;
    top:0;
    left:0;
}
@media(max-width:1024px){
    .leadersPrincipleSection{
        padding-top:0;
    }
}