.leadersPrincipleSection{
    /* background-image:url('/assets/PrincipleSecbg.jpg'); */
    padding-top:68px;
    position:relative;
}
.leadersPrincipleContent{

}
.leadersPrinciplebgVideo{
    position:absolute;
    top:0;
    left:0;
}