.FooterContainer{
    background-image: url('/assets/footer-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top:76px;
    position: relative;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.arrowUp {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  width: 45px;
  height: 45px;
  transform: translateY(50px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  will-change: transform, opacity;

  @media (max-width: 991px) {
    bottom: 8rem;
    right: 2rem;
  }
}

.arrowVisible {
  opacity: 1;
  transform: translateY(0);
  animation: slideUp 0.4s ease forwards;
}

.FooterMenuWrap{
    display:flex;
    gap: 120px;
    padding-bottom:158px;
    border-bottom:1px solid rgba(256,256,256,0.3); 
}
.contactWrap{
    max-width:400px;
    width:100%;
    display:flex;
    flex-direction:column;
    gap:30px;
    color:var(--color-4);
}
.contactLink{
    display:flex;
    align-items:center;
    gap:34px;
    color:var(--color-4);
}
.FooterlinkSets{
    display:flex;
    justify-content: space-between;
    gap:115px;
}
.footermenuList{
    display:flex;
    flex-direction:column;
    gap:20px;
}
.emailWrap{
    display:flex;
    flex-direction:column;
    gap:20px;
   
}
.mediaLinkWrap{
    display:flex;
    flex-direction:column;
    gap:30px;
    color:var(--color-4);
}
.mediaLinks{
    display:flex;
    gap:16px;
    color:var(--color-4)
}
.IconsWrap{
    display:flex;
    flex-direction:column;
    gap:15px;
}
.LinkClr{
    color:var(--color-4);
}
.menuItem a{
    color:var(--color-4);
}
.copyRightWrap{
    display:flex;
    justify-content:space-between;
    padding:16px 0 40px;
}
.copyRightTexts{
    display:flex;
    gap:126px;
}
.bottomFootertext{
    color:var(--color-4);
}
.countriesWrap{
    display:flex;
    gap:46px;
    align-items:center;
    padding-top:30px
}
.country{
    display:flex;
    gap:10px;
    align-items:center;
    color:var(--color-4);
}

.footerMenuSec{
    display: flex;
    gap: 20px;
}
@media(max-width: 991px){
    .FooterContainer{
        height:100%;
    }
    .FooterMenuWrap{
        flex-direction:column;
        gap:40px;
        padding-bottom:18px;
    }
    .FooterlinkSets{
      display:grid;
      grid-template-columns:repeat(2,1fr);
      gap:55px;
    }
    .copyRightWrap{
        flex-direction:column;
        gap:12px;
    }
    .copyRightTexts{
        flex-direction:column;
        gap:12px;
    }
}
@media(max-width:425px){
    .FooterlinkSets{
       gap:0px;
       row-gap: 60px;
    }
    .menuItem{
        white-space: nowrap;
    }
}