/* Define styles in a CSS module for scoping */
.overlay {
    position: sticky;
    top: 0;
    overflow: hidden;
    height: 100vh;
  }
  
  .text {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    pointer-events: none;
    background-color: var(--color-6);
  }
  
  .textInner {
    /* transform: translateY(28vw); */
    opacity: 0;
    color: rgb(6, 6, 6);
    text-align: center;
    width: 100%;
    max-width: 874px;
    height: 100vh;
    justify-content: center;
    
  }

  .textInner p{
    max-width: 581px;
    width: 100%;
  }


.starOne,.starTwo,.starThree,.starFour{
    position: absolute;
}
.starOne{
  left: 0;
  bottom: 10%;
}
.starFourV1{
  display: block;
}
.starThree{
  right: 0;
  top: 30%;

}
.starTwo{
  top: 20%;
}
.starFour{
  bottom: 20%;
right: 0;
}
  .color2{
    color: var(--color-2);
  }
  .track {
  }
  
  .gradient {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .shape {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    mix-blend-mode: multiply;
    background: black;
    position: relative;
    z-index: 2;
  }
  
  .shape video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
  }
  
  .shape .img {
    width: 20rem;
    height: 20rem;
    transform: scale(0);
  }
  
  .img svg {
    width: 100%;
    height: 100%;
  }
  
  .img svg .hsc-img-path {
    fill: white;
  }
  

  .overlayTextContainer{
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
  }
  .overlayTextContainer h2{
    width: 100%;
    max-width: 888px;
  }
  .overlayText{

  }
  .textInnerContent{

  }

@media(max-width:768px){
  .textInner{
    width: 80%;
  }
  .overlayTextContainer h2{
    width: 80%;
    max-width: 100%;
  }
}