.packagingBanner{
    position:relative;
    height:100vh;
}
.packagingBanner video{
  width:100%;
  height: 100%;
  object-fit: inherit;
}
.bannerTextWrap{
    display:flex;
    align-items:center;
    position:absolute;
    top:0;
    height:100%;
    color:var(--color-4);
}
@media (max-width: 768px) {
    .packagingBanner video{
        object-fit: cover;
    }
}